<p id="notice"><%= notice %></p>

<p>
  <b>Contact:</b>
  <%= @contact.contact_id %>
</p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Firstname:</b>
  <%= @contact.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @contact.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Subscribed:</b>
  <%= @contact.subscribed %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
